<div>
    <p>
        The NATIONAL ASSESSMENT AND ACCREDITATION COUNCIL (NAAC) conducts assessment and accreditation of Higher Educational Institutions (HEI) such as colleges, universities or other recognised institutions to derive an understanding of the 'Quality Status' of the institution.
    </p>
</div>
<div class="row">
    <div class="col-9 col-lg-9 col-xs-12">
        <b>The procedures and policies for utilizing various facilities vary in different extents. </b>
        <p>
            The college canteen is monitored by a Canteen Committee, which looks into the
            qualitative aspects. The canteen functions on a lease basis with private partners.
            Laboratories in various departments functions under the strict control of the respective
            departmental heads and the laboratory Demonstrators are responsible for maintaining the
            laboratory facilities, under instruction from the departmental heads
        </p>
        <p>
            The College ensures the optimal allocation and utilization of the funds for
            maintenance of infrastructure and purchase of new equipment. The proposal for
            the same is submitted to the College. The Purchase Committee of the College
            reviews the proposal, which is further approved by the Principal. The record of
            the equipment is maintained in the stock register. Physical verification of the
            laboratory equipment is done every year to ensure the maintenance of
            laboratories.
        </p>
        <p>The various functions of the College are carried out by the committees
            constituted by the Staff Council.</p>
            <p>
                Fire extinguishers are installed and are checked every year.
            </p>
            <p>
                    
                A number of CCTV cameras have been installed to monitor the infrastructure.
                The Computer Desktops, Generator, Water Tanks, Motors and R.O System are
                maintained with the respective companies.
        
            </p>
            <p>
                The college receives grant from the Higher Education Department & Directorate of
            Higher Education, Government of Odisha under Plan Head and Non-Plan Head. While
            purchasing an equipment from any fund, it is always ensured that the installation charges
            and maintenance charges (within warranty period) are provided by the company, which
            delivers the equipment. Such clause is inserted in the work order of the equipment.
            Portion of the fund received under OHEPEE Scheme has been utilized for upgradation of
            the existing laboratories and other existing infrastructure. 
            </p>
             
        
    </div>
    <div class="col-3 col-lg-3 col-xs-12" style="border: solid 1px #ccc">
        <a href="Documents/ESTB_Z_Y2020_M9_D24-H5_M14_S6.pdf" target="_blank">
            AQAR 2018-19                                                      
        </a>
    </div>
</div>