<div>
    <img src="./assets/cells/yrc.jpg" class="page-image" />
    <p>
        Our YRC Unit received the <b>State Award for its activities in the year 2013</b>. During last four years no other award has been received by the institution for extension activities. However, the YRC-RRC Volunteers-activists have own certificates for Blood donation. The Institution has made significant contribution for the social and community development in many ways. The College has carried out campaigns and drives in the localities with mass involvement, on the issues like Dengue and AIDS. Village Reconstruction programme Socio-economic programmes.
    </p>
    <p>
        A member of the teaching staff selected by the Principal will remain incharge of the group.  
        The group shall not have more than 50 active members and all the students of the College are members. 
        The executive committee shall consists of a Chairman, a Vice-Chairman and Secretary. They shall be selected from among the students who enroll themselve as active members of the group. The election to the posts mentioned above will be held in the manner determined by the    Principal.  A fee of Rs.5/- will be collected from a student in the beginning of the each academic year and the amount will be deposited in a separate passbook. The Principal will operate the accounts of the groups. 
   </p>
   <p>The aims of the Youth Red Cross Group are as follows:-</p>
   <ul>
    <li>Promotion of health.</li>
    <li>Service to the sick and suffering.</li>
    <li>International friendliness.</li>
   </ul>
     
</div>