.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.title {
    flex: 1 1 auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0px 0px 20px;
    padding: 5px 0px;
}


