<div>
    <img src="./assets/cells/ncc.jpg" class="page-image" />
    <p>NCC is one of the premier youth organizations in our country which has contributed to propagating national unity
        and integrity amongst youth. Its role in instilling in them the values of character, discipline and hard work
        and in shaping them into dynamic and responsible citizens of the country has been well recognized. It is one of
        the foremost organizations which grooms the youth, the students to be worthy citizens and future leaders of our
        nations and further it instils in students discipline, courage, and patriotism.</p>
    <p>NCC (National Cadet&nbsp; Crops) is a voluntary organization for students in India that aims to develop
        character, discipline, and leadership qualities among young people. An NCC cell in the Institute provides an
        opportunity for students to participate in various activities and training programs organized by the NCC. </p>
    <div>
        <strong>Objectives of NCC</strong>:
        <ul>
            <li>To develop qualities of character, courage, comradeship, discipline, leadership, secular outlook, Spirit
                of adventure and sportsmanship and the ideals of selfless service among the youth to make them useful
                citizens.</li>
            <li>To create a human resource of organized, trained, and motivate youth to provide leadership in all walks
                of their life and always available for the service of the nation.</li>
            <li>To provide suitable environment and to motivate youth to take up their career in armed forces.</li>
        </ul>
        <strong>Benefits of being NCC cadet</strong>
        <ul>
            <li>Unique chance to handle weapons and to fire live ammunitions.</li>
            <li>Become courageous, to meet any situation in life.</li>
            <li>Opportunity to participate incamps and courses like Annual Training Camps, All India Thal Sainik Camp,
                Leadership courses, Rock Climbing, Trekking, Mountaineering courses, Republic Day Parade in Delhi, Para
                Training, Cycle expedition.</li>
            <li>Opportunity to visit other states and countries on delegation.</li>
        </ul>
        <strong>Program Officer</strong>: 

        <p><strong>Programs offered in NCC </strong></p>

        <p><strong>Swatch BharathAbhiyan</strong>- By believing that Health is wealth and only good health can be
            achieved through hygiene. Our College cadets took initiative to support the Swatch Bharath mission and to
            create awareness among the people.</p>

        <p><strong>Trekking </strong>- Cadets have explored various hills as part of Adventurous activity. They will
            have a deep interaction with the flora and fauna of the forest.</p>

        <p><strong>Cycle Expedition</strong>- From Vijaya College to various places covering 40 to 50 km. The puporse of
            visit is to create awareness “Save Trees,Save Life”. A mime will be presented to the public to educate them.
        </p>

        <p><strong>Monkey crawling and slithering</strong>- This is an adventure activity where training is provided and
            is usually showcased on 26<sup>th</sup> Jan 2017 to inculcate spirit of adventure, endurance,
            self-confidence and spirit of the cadets.</p>
    </div>
</div>