<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/image1.jpeg" style="height: auto; width: 100%; margin-top: -110px;" />
        <div class="container">
          <div class="carousel-caption">
            <h1>Career Counselling</h1>
            <p class="opacity-75 slide-1-sub-caption">The college offer career guidance plans to students based on their specific needs.</p>
          </div>
        </div>
      </div>
  
      <div class="carousel-item">
        <img src="./assets/Image2.jpg"   style="height: auto; width: 100%; margin-top: -130px;" />
        <div class="container">
          <div class="carousel-caption">
            <h1>Managing Committee.</h1>
            <p>Managing Committee with some senior most staffs with guest.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/Image3.jpg"   style="height: auto; width: 100%; margin-top: -250px;" />
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Teachers can open the door, but you must enter it yourself.</p>
          </div>
        </div>
      </div>
  
      <div class="carousel-item ">
        <img src="./assets/Image5.jpg" style="height: auto; width: 100%; margin-top: 0px;" />
        <div class="container">
          <div class="carousel-caption">
          </div>
        </div>
      </div>
    </div>
  
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
  
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>