<div class="container-fluid m-0 p-4">
    <div class="row">
        <div class="col-12 page-header">
            <h4>{{aboutWhat?.replaceAll('-', ' ') | uppercase}} {{fullForm}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12" *ngIf="aboutWhat == 'naac'">
            <app-naac></app-naac> 
        </div>
        <div class="col-12" *ngIf="aboutWhat == 'iqac'">
            <app-iqac></app-iqac> 
        </div>
        <div class="col-12" *ngIf="aboutWhat == 'aqar'">
            <app-aqar></app-aqar> 
        </div>
        <div class="col-12" *ngIf="aboutWhat == 'ohepee'">
            <app-ohepee></app-ohepee> 
        </div>
        <div class="col-12" *ngIf="aboutWhat == 'governing-body'">
            <app-governing-body></app-governing-body> 
        </div>
    </div>
</div>