

<div *ngIf="!isLoading">
    <table class="table table-hover">
        <thead>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let publ of publications">
                <td style="width: 90%;">
                    <span class="text-small-grey">{{publ.EstbTypeCodeDesc}}</span><br/>
                    <b>{{publ.EstbTitle}}</b>
                    <p>
                        {{publ.EstbDescription}}
                    </p>
                    <span class="text-small-grey" style="display: block; margin-top: -10px;">
                        Published on: <u>{{publ.EstbDate | date:'fullDate'}}</u>
                        by <u>{{publ.AuthorOrContributorName}}</u>
                    </span>
                </td>
                <td style="width: 10%; vertical-align: middle; text-align: center;">
                    <a  href="{{downloadPath}}{{publ.FileNameWithPath}}" 
                            target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                                <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                            </svg>
                            Download
                        </a> 
                </td>
            </tr>
        </tbody>

    </table>

<div *ngIf="isLoading"
     class="spinner-border text-primary" 
      style="width: 3rem; height: 3rem; margin: 100px auto; display: block;" 
      role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<pre></pre>
<pre>{{publications | json}}</pre>