<div class="square m-2 p-2">
    <div>
      <img src="./assets/principal.png" alt="Principal of TSD College" style="width: 250px;">
    </div>
    <p>On behalf of the members of faculty staff and administration of TSD College, I extend the heartiest welcome to you to explore our institution. </p>
    <p>Our college is dedicated to excel our students both intellectually and morally and our teaching faculty and staff develop positive, caring and supportive relationships with the students, emerging an atmosphere driven by talent. It has always been at the helm of educating, nurturing and positively fostering the young minds. Innovation and advancement are the cares of our college. We benchmark our courses and processes with the best in the classes and continue to endeavor to outperform our goals and vision. </p>
    <p>For us, '<b>Excellence is a Journey not a Destination</b>'.</p>
    <p>TSD College believes that it has a role in the <b><i>Transformation of Society</i></b>. We have fostered an environment that allows our students to develop ethical values, strong bonds of friendship and to learn to accept each other as individuals. The quality of these relationships and civilized values enriches them emotionally and enhances the experience of belonging to a learning community. Every student is special in his/her own way. It is our endeavor that we need to prepare our students for the competitive world and make them the responsible and engaged members of the society, resulting in sustainable growth, peace and positive global impact.</p>
    <p>We place a high premium on the role of the teacher, their competencies, skills and ability to nurture the talent, rapid changes in the technology and globalization are drastically changing the education  scenario. This change requires a sense of urgency in creating an innovative approach to enrich our teaching- learning process.</p>
    <p>Having an aim to develop character, comradeship, discipline, a secular outwork, the spirit of adventure and ideals of selfless service among young citizens, the NCC of our college also provides an environment inspiring our students to join the armed forces.</p>
    <p>Our former president Dr APJ Abdul Kalam asked, "<b>Can we make an education system which will retain the smiles on the faces of our children throughout their education?</b>" </p>
    <p>We remain committed to meet this challenge. I hope that you and all those in your lives are coping well. I thank you all for your steadfastness, faberance and wish you the best of luck with a plethora of love and affection. </p>
    <p>Stay Safe! Stay Healthy! Stay Strong!</p>
    <p>Sincerely,</p>
    <br/>
    <p><b>Dr. Ramani Ranjan Mishra</b></p>
    <p style="margin-top: -20px; margin-left: 120px;">Principal</p>

</div> 