.icas-image {
    max-height: 250px !important;
}

.icas-box:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    /* cursor: pointer; */
}
