

<div *ngIf="isLoading else estbTable"
     class="spinner-border text-primary" 
      style="width: 3rem; height: 3rem;" 
      role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<ng-template #estbTable>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingZero">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
          Recent Activities ({{countActivities}})
        </button>
      </h2>
      <div id="collapseZero" class="accordion-collapse collapse show" aria-labelledby="headingZero" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <app-table [sourceTable]="establishments" [estbType]="'I'"></app-table>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Notices ({{countNotice}})
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <app-table [sourceTable]="establishments" [estbType]="'Notice'"></app-table>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Circulars ({{countCircular}})
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <app-table [sourceTable]="establishments" [estbType]="'C'"></app-table>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Tenders ({{countTenders}})
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <app-table [sourceTable]="establishments" [estbType]="'T'"></app-table>
        </div>
      </div>
    </div>

  </div>
  <pre>{{establishments | json}}</pre>
</ng-template>
  
 