<div>
    <p>The Prevention of Sexual Harassment Cell of TSD College is committed to:</p>
    <ul style="margin: 0px 50px 0px 150px; padding: 0;">
        <li>Observing the law on Sexual Harassment</li>
        <li>Sensitizing the community on gender issues</li>
        <li>Assisting internal Complaint Committee</li>
        <li>Addressing complaints from victims</li>
      </ul>

      <p><b>The Law:</b></p>
      <p>The Central government has enacted a law in 2013 for providing safe environment for women at workplace and addressing the cases of sexual harassment at workplace. The Act may be called as Sexual Harassment of Women at Workplace (Prevention, Prohibition and Redressal) Act, 2013 and it extends to whole of India. The university has taken view of the Act and used to follow all the necessary provisions in spirit.</p>

      <p>According to the Section 2(n) of the Act the term “sexual harassment” includes any one or more of the following acts:</p>
      <ul>
        <li>Physical  contact and advances; or</li>
        <li>A  demand or request for sexual favors: or</li>
        <li>Making  Sexually coloured remarks; or</li>
        <li>Showing  pornography: or</li>
        <li>Any  other unwelcome physical, verbal or non- verbal conduct of sexual nature</li>
        <li>Use  of electronic media (phone, internet, intranet) for perpetrating any of the above</li>
        <li>Any  other unwelcome physical, verbal, or non-verbal conduct of a sexual nature</li>
      </ul>
      <p>In view of mandatory provisions of Sexual Harassment of Women at Workplace (Prevention, Prohibition and Redressal) Act, 2013 following procedure is used to be followed whenever any case of harassment is reported in the university:</p>
      <ul>
        <li>There shall be an internal complaints committee  which shall consists of a presiding officer and such other members as the  employer appoint time to time. However presiding officer shall be a woman and  other members must have experience in social work or legal knowledge.</li>
        <li>The aggrieved woman may make a complaint in  writing regarding sexual harassment to the internal committee. However if woman  is not able to a complaint, her legal heirs and any other person on behalf cam  make a complaint.</li>
        <li>The complaint committee before initiating  enquiry may resolve the matter through conciliation at the request of woman.</li>
        <li>Where settlement has been arrived through  conciliation, the committee record the settlement and forward the same to the  employer. In such case no further inquiry is required.</li>
        <li>In case conciliation process has not been  worked out, the committee shall proceed with the inquiry as per the service  rules applicable to him or if the prima facie case exist forward the complaint  to the police.</li>
        <li>For the purpose of conducting the inquiry the  principles of natural justice shall be observed.</li>
        <li>On the completion of inquiry if respondent is  found responsible the employer may take any or both of the following actions against  him:
        <ul>
        <li>Take action for sexual harassment as a  misconduct in accordance with the service rules applicable to him.</li>
        <li>To deduct from the salary of respondent such  amount as the committee considers appropriate and shall be paid to the victim.</li>
        </ul>
        </li>
      </ul>
    </div>