<div class="row">
    <div class="col-12">
        <p>
            The Grievance Redressal Cell (GRC) aims to look into the complaints lodged by any student and redress it as per requirement. The students can state their grievance regarding any academic and non- academic matter within the campus through the online and grievance/ suggestion box. The institution aims at solving the grievances of the students within stipulated tacademic and non- academic matter within the campus through the online and grievance/ suggestion box. The institution aims at solving the grievances of the students within stipulated time.
        </p>
        <p>
            The Grievance Redressal Cell has been developed to settle the grievances of the students and other stakeholders within a reasonable time period for further strengthening the bond of the students with the institution by providing them with all kind of facilities to a satisfaction level for maintaining a convenient ambience of academic teaching and learning.
        </p>
        <b>Mechanism:</b>
        <ul style="list-style-type: none;">
            <li>1. Grievance redressal committee (GRC) shall consider only individual grievances of specific nature of students and staff.</li>
            <li>2. The GRC shall not consider any grievance of general applicability or of collective nature of raised collectively by more than one employee/student.</li>
            <li>3. Post receipt of the complaint/application the committee will decide on the merit of case regarding scope of further discussion investigation and act promptly.</li>
            <li>4. The GRC may mediate between complainant and defendant against who the complaint has been made, it required.</li>
            <li>5. GRC shall consider redressing of grievances within a reasonable time.</li>
            <li>6. The cell will give report to the authority about the cases attended to and seek guidance from the higher authorities if required.</li>
        </ul>

            <b>Scope:</b>
            <p>The students may lodge grievance about any academic and non- academic matters related to -</p>
            
            <ul>
                <li>Timely issue of duplicate Mark-sheets, Transfer Certificates, Conduct Certificates or other examination and scholarship related matters.</li>
                <li>to dues and payments for various items from the library, hostels and other financial matters.</li>
                <li>certain misgivings about conditions of sanitation, preparation of food, availability of transport, victimization by teachers and any other offensive activity.</li>
            </ul>
            </div>
</div>