<div class="row">
    <div class="col-12">
        <img src="./assets/cells/nss.jpg" class="page-image" />
    
        <p>The National Service Scheme (NSS) is an Indian government-sponsored public service program conducted by the Department of Youth Affairs and Sports of the Government of India.</p>
    </div>
    <div>    
  
        <b>The Motto</b>
        <p>The motto or watchword of the National Service Scheme is: <i><b>‘NOT ME BUT YOU’</b></i> </p>
        <p>This reflects the essence of democratic living and upholds the need for selfless service and appreciation of the other 
        person’s 
        point of view and also to show consideration for fellow human beings. It underlines that the welfare of an individual is ultimately dependent on the 
        welfare of society on the whole. Therefore, it should be the aim of the NSS to demonstrate this motto in its day- to - day programme. </p>
       
        <b>Aims of NSS Programmes/Activities</b>
        <p>
       The operational aim of NSS is to integrate the three basic components of the programme. NSS programme should provide a variety of learning experiences 
       which must develop a sense of participation, service and achievement among the volunteers. The activities should aim at the following:
       </p>
           <ol>
           <li>
           <p>Making education more relevant to the present situation to meet the felt needs of the community and supplement the education of the 
           university/college students by bringing them face to face with the rural situation;</p></li>
           <li>
           <p>Providing opportunities to the students to play their role in planning and executing development projects which would not only 
           help in creating durable community assets in rural areas and urban slums but also results in the improvement of quality of life of the economically and 
           socially weaker sections of the community;</p></li>
           <li>
           <p>Encouraging students and non-students to work together along with the adults in rural areas;</p></li>   
           <li><p>Developing qualities of leadership by discovering the latent potential among the campers, both students as well as local youth (Rural and Urban), 
           with a view to involve them more intimately in the development programme and also to ensure proper maintenance of the assets created during the camps;</p></li>
           <li><p>Emphasizing dignity of labour and self-help and the need for combining physical work with intellectual pursuits;</p></li> 
           <li><p>Encouraging youth to participate enthusiastically in the process of national development and promote national integration, through corporate 
           living and cooperative action.</p></li>
       
       </ol>
       <p>While undertaking these activities, each NSS unit should envisage its programmes/activities aimed at instilling discipline, building character, promotion of 
       physical fitness and development of culture.</p>
       
       </div>
</div>